@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewBag.Title = "Our Location";
}

<div class="container mt-5 location-container">
    <div class="row">
        <!-- Contact Address Section -->
        <div class="col-md-6 contact-info">
            <h2 class="mb-3">Contact Us</h2>
            <p><strong>Address:</strong> 16ta Makedonska brigada No.18, 1000 Skopje, North Macedonia</p>
            <p><strong>Phone:</strong> +38923243900</p>
            <p><strong>Email:</strong> contact.iVet@clinicgroup.com</p>
            <p>If you need assistance or have any questions, feel free to reach out to us!</p>
        </div>

        
    </div>
</div>
